# 这个是忽略文件

#（直接写上index.html，就会忽略这个文件）
index.html

#忽略规则

#.gitignore忽略文件(不需要git仓库管理,也不用重新在未跟踪文件列表)
#*.a 忽略所有.a文件
#!lib.a 不用忽略lib这个.a文件
#/todo 只忽略当前目录下名字为todo的文件,而不要忽略其他目录下的todo文件
#todo/忽略所有目录下的todo文件夹
#doc/*.txt 只忽略doc目录下的所有.txt文件,下面的子目录文件到.txt文件不要忽略
#doc/**/*.txt忽略doc目录已经以下子目录的所有.txt文件